hQndSQ3Vqq1b3nNj.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          },
          {
            "node": "Call 'Agente creativo'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message andrea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message client": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-10-19T17:34:03.843Z",
  "id": "hQndSQ3Vqq1b3nNj",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Recogida pedidos web",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/ilustra-contact",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        144
      ],
      "id": "32cdd918-c6fa-4beb-9d0f-d6405151ae31",
      "name": "Webhook",
      "webhookId": "0c86eb78-2c0b-4819-9a5c-2531dd117a88"
    },
    {
      "parameters": {
        "jsCode": "// Espera: 1 item con json.body (pedido) y binary con keys photos_0, photos_1...\nconst item = items[0];\nconst { json, binary } = item;\n\nconst body = json.body || {};\nconst customerName = (body.name || body.customerName || \"cliente_sin_nombre\").toString().trim();\n\n// orderId seguro (sin \":\" / espacios)\nconst rawId = body.order_id || json.orderId || $now; // $now = ISO string\nconst orderId = rawId.toString().replace(/[^0-9A-Za-z_-]/g, \"_\");\n\nconst folderName = `${customerName.replace(/[^\\w\\- ]/g, \"_\")}__${orderId}`;\n\nconst out = [];\nif (binary) {\n  // aceptar photos, file, image...\n  const keys = Object.keys(binary).filter(k =>\n    k.startsWith('photos') || k.startsWith('file') || k.startsWith('image')\n  );\n\n  if (keys.length === 0) {\n    return [{\n      json: { ...json, folderName, orderId, hasPhotos: false }\n    }];\n  }\n\n  for (const k of keys) {\n    const b = binary[k]; // {data, fileName, mimeType, ...}\n    out.push({\n      json: {\n        ...json,                 // conserva json original (con headers/body si te interesa)\n        folderName,\n        orderId,\n        hasPhotos: true,\n        photoFilename: b.fileName || `${orderId}_${k}`,\n        photoMime: b.mimeType || 'application/octet-stream',\n      },\n      binary: {\n        photo: b                 // renombrado a 'photo' (clave que usaremos en Upload)\n      }\n    });\n  }\n} else {\n  return [{\n    json: { ...json, folderName, orderId, hasPhotos: false }\n  }];\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        144
      ],
      "id": "0ae77597-3d46-409c-8d97-6f3fe0f7de9c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.folderName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1LYneTRkWiJv38X28Ln2Cn4xMdeADE-ZN",
          "mode": "list",
          "cachedResultName": "ilustrat",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1LYneTRkWiJv38X28Ln2Cn4xMdeADE-ZN"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        144
      ],
      "id": "7f7165ae-4302-41cc-8ebd-a87751bbd62a",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dHqkYicvy3pNdTe0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        624,
        -192
      ],
      "id": "e8e2d548-ad79-4677-92c0-4a938eb2a051",
      "name": "Merge"
    },
    {
      "parameters": {
        "inputDataFieldName": "photo",
        "name": "={{ $json.body.name }}- foto",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        848,
        -192
      ],
      "id": "5d821823-0633-41ec-830c-6480faf2be00",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dHqkYicvy3pNdTe0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GlXRRYBT6bkCKEpKeEnQ8i9K61W6iojbK1oWHN-ejY8",
          "mode": "list",
          "cachedResultName": "Pedidos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GlXRRYBT6bkCKEpKeEnQ8i9K61W6iojbK1oWHN-ejY8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GlXRRYBT6bkCKEpKeEnQ8i9K61W6iojbK1oWHN-ejY8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Merge').item.json.body.email }}",
            "Nombre": "={{ $('Merge').item.json.body.name }}",
            "Carpeta Creada": "={{ $json.name }}",
            "Numero": "={{ $json.body.whatsapp }}",
            "Estilo": "={{ $json.body.style }}",
            "Tamaño": "={{ $json.body.size }}",
            "Personas": "={{ $json.body.people }}",
            "Mascotas": "={{ $json.body.pets }}",
            "Fondo": "={{ $json.body.background }}",
            "Notas": "={{ $json.body.notes }}",
            "Terms accept": "={{ $json.body.termsAccepted }}",
            "Precio Base": "={{ $json.body.pricing_base }}",
            "Precio Total": "={{ $json.body.pricing_total }}",
            "Precio Extra": "={{ $json.body.pricing_extras }}",
            "Imágenes subidas": "={{ $json.photoFilename }}",
            "Port Consent": "={{ $json.body.portfolioConsent }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Numero",
              "displayName": "Numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estilo",
              "displayName": "Estilo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tamaño",
              "displayName": "Tamaño",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Personas",
              "displayName": "Personas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mascotas",
              "displayName": "Mascotas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fondo",
              "displayName": "Fondo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Terms accept",
              "displayName": "Terms accept",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Port Consent",
              "displayName": "Port Consent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Precio Base",
              "displayName": "Precio Base",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Precio Extra",
              "displayName": "Precio Extra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Precio Total",
              "displayName": "Precio Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Carpeta Creada",
              "displayName": "Carpeta Creada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Imágenes subidas",
              "displayName": "Imágenes subidas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        264
      ],
      "id": "95c13fa0-36d5-4685-889d-b22e18f10333",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7FbdcUfuiHeXeLF8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        -40
      ],
      "id": "8255ae93-8a80-4533-b6f2-b138bc4a88bd",
      "name": "Merge1"
    },
    {
      "parameters": {
        "sendTo": "={{$json.body.email}}",
        "subject": "=🎨 Tu pedido {{ $json.body.order_id }} ha sido recibido: imágenes guardadas correctamente",
        "message": "=<!doctype html>\n<html>\n  <body style=\"margin:0;padding:0;background:#f6f7fb;\">\n    <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"background:#f6f7fb;\">\n      <tr>\n        <td align=\"center\" style=\"padding:32px 16px;\">\n          <!-- Container -->\n          <table role=\"presentation\" width=\"680\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:680px;max-width:100%;background:#ffffff;border-radius:12px;overflow:hidden;border:1px solid #eaeaea;\">\n            <!-- Header -->\n            <tr>\n              <td style=\"background:#111827;color:#fff;padding:24px 28px;\">\n                <table width=\"100%\" style=\"border-collapse:collapse;\">\n                  <tr>\n                    <td style=\"font-family:Inter,Arial,sans-serif;font-size:18px;font-weight:700;letter-spacing:.2px;\">\n                      NUBIA · Ilustra\n                    </td>\n                    <td align=\"right\" style=\"font-family:Inter,Arial,sans-serif;font-size:12px;opacity:.85;\">\n                      Pedido: <b>{{$json.body.order_id}}</b>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n\n            <!-- Greeting -->\n            <tr>\n              <td style=\"padding:24px 28px 8px 28px;font-family:Inter,Arial,sans-serif;color:#111;\">\n                <h2 style=\"margin:0 0 8px 0;font-size:22px;line-height:1.3;\">¡Gracias, {{$json.body.name}}!</h2>\n                <p style=\"margin:0;color:#374151;font-size:14px;\">\n                  Hemos recibido tu pedido y <b>las imágenes se han guardado correctamente</b> en nuestro sistema.\n                </p>\n              </td>\n            </tr>\n\n            <!-- Summary Cards -->\n            <tr>\n              <td style=\"padding:8px 28px 4px 28px;\">\n                <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"border-collapse:collapse;\">\n                  <tr>\n                    <td valign=\"top\" style=\"width:50%;padding:12px;border:1px solid #eee;border-radius:10px;background:#fafafa;font-family:Inter,Arial,sans-serif;\">\n                      <div style=\"font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.4px;margin-bottom:6px;\">Datos de contacto</div>\n                      <div style=\"font-size:14px;color:#111;\">\n                        <div><b>Nombre:</b> {{$json.body.name}}</div>\n                        <div><b>Email:</b> {{$json.body.email}}</div>\n                        <div><b>WhatsApp:</b> {{$json.body.whatsapp}}</div>\n                      </div>\n                    </td>\n                    <td width=\"16\"></td>\n                    <td valign=\"top\" style=\"width:50%;padding:12px;border:1px solid #eee;border-radius:10px;background:#fafafa;font-family:Inter,Arial,sans-serif;\">\n                      <div style=\"font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.4px;margin-bottom:6px;\">Especificaciones</div>\n                      <div style=\"font-size:14px;color:#111;\">\n                        <div><b>Estilo:</b> {{$json.body.style}}</div>\n                        <div><b>Tamaño:</b> {{$json.body.size}}</div>\n                        <div><b>Personas/Mascotas:</b> {{$json.body.people}} / {{$json.body.pets}}</div>\n                        <div><b>Fondo:</b> {{$json.body.background}}</div>\n                      </div>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n\n            <!-- Notes & Price -->\n            <tr>\n              <td style=\"padding:8px 28px;\">\n                <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"border-collapse:collapse;\">\n                  <tr>\n                    <td valign=\"top\" style=\"padding:12px;border:1px dashed #e5e7eb;border-radius:10px;background:#fcfcfd;font-family:Inter,Arial,sans-serif;\">\n                      <div style=\"font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.4px;margin-bottom:6px;\">Notas</div>\n                      <div style=\"font-size:14px;color:#111;\">\n                        {{ $json.body.notes || '—' }}\n                      </div>\n                    </td>\n                    <td width=\"16\"></td>\n                    <td valign=\"top\" style=\"padding:12px;border:1px solid #eee;border-radius:10px;background:#fafafa;font-family:Inter,Arial,sans-serif;\">\n                      <div style=\"font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.4px;margin-bottom:6px;\">Precio</div>\n                      <div style=\"font-size:14px;color:#111;\">\n                        <div><b>Total:</b> {{ $json.body.pricing_total }} €</div>\n                        <div style=\"color:#6b7280;font-size:12px;\">Base: {{$json.body.pricing_base}} € · Extras: {{$json.body.pricing_extras}}</div>\n                      </div>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n\n            <!-- File card -->\n            <tr>\n              <td style=\"padding:8px 28px 0 28px;\">\n                <div style=\"border:1px solid #eaeaea;border-radius:12px;overflow:hidden;\">\n                  <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"border-collapse:collapse;\">\n                    <tr>\n                      <td width=\"160\" align=\"center\" valign=\"middle\" style=\"background:#f9fafb;\">\n                        <img src=\"{{ $node['Upload file'].json.thumbnailLink || 'https://drive-thirdparty.googleusercontent.com/16/type/image/png' }}\" alt=\"Thumbnail\" width=\"160\" style=\"display:block;width:160px;max-width:160px;height:auto;border:0;\">\n                      </td>\n                      <td style=\"padding:16px 18px;font-family:Inter,Arial,sans-serif;\">\n                        <div style=\"font-size:14px;color:#111;\"><b>{{ $node[\"Upload file\"].json.name || $json.photoFilename }}</b></div>\n                        <div style=\"font-size:12px;color:#6b7280;\">\n                          {{ $node[\"Upload file\"].json.mimeType || $json.photoMime }} · {{ $node[\"Upload file\"].json.size }} bytes\n                        </div>\n                        <div style=\"font-size:12px;color:#6b7280;margin-top:4px;\">\n                          Resolución: \n                          {{ $node[\"Upload file\"].json.imageMediaMetadata?.width || $json.imageMediaMetadata?.width }} ×\n                          {{ $node[\"Upload file\"].json.imageMediaMetadata?.height || $json.imageMediaMetadata?.height }} px\n                        </div>\n                        <div style=\"font-size:12px;color:#6b7280;margin-top:4px;\">\n                          Subida: {{ $node[\"Upload file\"].json.createdTime || $json.createdTime }}\n                        </div>\n\n                        <!-- CTAs -->\n                        <div style=\"margin-top:12px;\">\n                          <a href=\"{{$node['Upload file'].json['webViewLink']}}\" target=\"_blank\" \n                             style=\"display:inline-block;background:#111827;color:#fff;text-decoration:none;padding:10px 14px;border-radius:8px;font-size:13px;font-weight:600;\">\n                            Ver imagen\n                          </a>\n                          <span style=\"display:inline-block;width:8px;\"></span>\n                          <a href=\"{{ 'https://drive.google.com/drive/folders/' + $node['Create folder'].json['id'] }}\" target=\"_blank\" \n                             style=\"display:inline-block;background:#e5e7eb;color:#111827;text-decoration:none;padding:10px 14px;border-radius:8px;font-size:13px;font-weight:600;\">\n                            Abrir carpeta del pedido\n                          </a>\n                        </div>\n                      </td>\n                    </tr>\n                  </table>\n                </div>\n              </td>\n            </tr>\n\n            <!-- Meta -->\n            <tr>\n              <td style=\"padding:18px 28px 6px 28px;\">\n                <div style=\"font-family:Inter,Arial,sans-serif;font-size:12px;color:#6b7280;\">\n                  Origen: {{ $json.body.source_url }} · TS: {{ $json.body.ts }} · UA: {{ $json.body.userAgent }}\n                </div>\n              </td>\n            </tr>\n\n            <!-- Footer -->\n            <tr>\n              <td style=\"padding:8px 28px 24px 28px;\">\n                <div style=\"font-family:Inter,Arial,sans-serif;font-size:13px;color:#111;margin-bottom:8px;\">\n                  Si ves algo incorrecto, responde a este correo y lo revisamos enseguida.\n                </div>\n                <div style=\"font-family:Inter,Arial,sans-serif;font-size:12px;color:#6b7280;\">\n                  — Equipo Ilustra · NUBIA\n                </div>\n                <div style=\"height:12px;\"></div>\n                <div style=\"font-family:Inter,Arial,sans-serif;font-size:11px;color:#9ca3af;line-height:1.4;\">\n                  Este mensaje confirma la recepción de tu pedido. Si has dado consentimiento (<i>portfolioConsent</i>={{$json.body.portfolioConsent}}),\n                  podremos mostrar tu obra final en nuestro portfolio. Puedes retirar tu consentimiento respondiendo a este email.\n                </div>\n              </td>\n            </tr>\n\n          </table>\n          <!-- /Container -->\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1296,
        -120
      ],
      "id": "3dd22366-0359-43b4-a1b1-2ffd6b7fc46d",
      "name": "Send a message client",
      "webhookId": "64266086-de09-4b47-afb7-ba715250c3b2",
      "credentials": {
        "gmailOAuth2": {
          "id": "Zh4mbcdj3DWiXuIb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$json.body.email}}",
        "subject": "=[ILUSTRA] Pedido {{$json.body.order_id}} guardado · {{ $json.body.name }}",
        "message": "=<!doctype html>\n<html>\n  <body style=\"font-family:Inter,Arial,sans-serif; line-height:1.6; color:#111;\">\n    <h2>Nuevo pedido recibido y guardado</h2>\n\n    <h3>Cliente</h3>\n    <ul>\n      <li><b>Nombre:</b> {{$json.body.name}}</li>\n      <li><b>Email:</b> {{$json.body.email}}</li>\n      <li><b>WhatsApp:</b> {{$json.body.whatsapp}}</li>\n    </ul>\n\n    <h3>Pedido</h3>\n    <ul>\n      <li><b>Order ID:</b> {{$json.body.order_id}}</li>\n      <li><b>Folder Name:</b> {{$json.folderName}}</li>\n      <li><b>Folder ID:</b> {{$node[\"Create folder\"].json[\"id\"]}}</li>\n      <li><b>Carpeta Drive:</b>\n        <a href=\"{{ 'https://drive.google.com/drive/folders/' + $node['Create folder'].json['id'] }}\" target=\"_blank\">\n          abrir\n        </a>\n      </li>\n      <li><b>Origen:</b> {{$json.body.source_url}}</li>\n      <li><b>TS:</b> {{$json.body.ts}}</li>\n      <li><b>UA:</b> {{$json.body.userAgent}}</li>\n    </ul>\n\n    <h3>Imagen subida</h3>\n    <ul>\n      <li><b>Nombre:</b> {{ $node[\"Upload file\"].json.name || $json.photoFilename }}</li>\n      <li><b>WebView:</b> <a href=\"{{$node['Upload file'].json['webViewLink']}}\" target=\"_blank\">ver</a></li>\n      <li><b>MIME:</b> {{ $node[\"Upload file\"].json.mimeType || $json.photoMime }}</li>\n      <li><b>Tamaño:</b> {{ $node[\"Upload file\"].json.size }} bytes</li>\n      <li><b>Dimensiones:</b>\n        {{ $node[\"Upload file\"].json.imageMediaMetadata?.width || $json.imageMediaMetadata?.width }}×\n        {{ $node[\"Upload file\"].json.imageMediaMetadata?.height || $json.imageMediaMetadata?.height }} px\n      </li>\n      <li><b>Checksums:</b>\n        md5={{$json.md5Checksum}} ·\n        sha1={{$json.sha1Checksum}} ·\n        sha256={{$json.sha256Checksum}}\n      </li>\n    </ul>\n\n    <h3>Condiciones & consentimiento</h3>\n    <ul>\n      <li>termsAccepted: {{$json.body.termsAccepted}}</li>\n      <li>portfolioConsent: {{$json.body.portfolioConsent}}</li>\n    </ul>\n\n    <h3>Precio</h3>\n    <ul>\n      <li>Base: {{$json.body.pricing_base}} €</li>\n      <li>Total: {{$json.body.pricing_total}} €</li>\n      <li>Extras (raw): {{$json.body.pricing_extras}}</li>\n    </ul>\n  </body>\n</html>\n\n\nGracias, {{$json.body.name}}. Hemos recibido tu pedido {{$json.body.order_id}}.\nCarpeta: https://drive.google.com/drive/folders/{{$node[\"Create folder\"].json[\"id\"]}}\nImagen: {{$node[\"Upload file\"].json[\"webViewLink\"]}}\nArchivo: {{ $node[\"Upload file\"].json.name || $json.photoFilename }}\nTamaño: {{ $node[\"Upload file\"].json.size }} bytes\nResolución: {{ $node[\"Upload file\"].json.imageMediaMetadata?.width || $json.imageMediaMetadata?.width }}x{{ $node[\"Upload file\"].json.imageMediaMetadata?.height || $json.imageMediaMetadata?.height }} px\nPrecio total: {{ $json.body.pricing_total }} €\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1296,
        72
      ],
      "id": "813ec2f3-abd9-4cc9-8b92-1c8560ae9629",
      "name": "Send a message andrea",
      "webhookId": "64266086-de09-4b47-afb7-ba715250c3b2",
      "credentials": {
        "gmailOAuth2": {
          "id": "Zh4mbcdj3DWiXuIb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BCws2UeQNEVkJxQR",
          "mode": "list",
          "cachedResultUrl": "/workflow/BCws2UeQNEVkJxQR",
          "cachedResultName": "Agente creativo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.body.name }}",
            "email": "={{ $json.body.email }}",
            "whatsapp": "={{ $json.body.whatsapp }}",
            "style": "={{ $json.body.style }}",
            "size": "={{ $json.body.size }}",
            "people": "={{ $json.body.people }}",
            "pets": "={{ $json.body.pets }}",
            "background": "={{ $json.body.background }}",
            "notes": "={{ $json.body.notes }}",
            "source_url": "={{ $json.body.source_url }}",
            "ts": "={{ $json.body.ts }}",
            "folderId": "={{ $json.orderId }}",
            "imageLinks": "={{ $json.photoFilename }}",
            "id": "={{ $json.body.order_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "style",
              "displayName": "style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "size",
              "displayName": "size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "people",
              "displayName": "people",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "pets",
              "displayName": "pets",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "background",
              "displayName": "background",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "ts",
              "displayName": "ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "folderId",
              "displayName": "folderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "imageLinks",
              "displayName": "imageLinks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        400,
        336
      ],
      "id": "bfd02552-e97a-4f2a-92e0-d4e4553c79b7",
      "name": "Call 'Agente creativo'",
      "disabled": true
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "TASQUITANDO",
    "name": "n8n-backups-VPS"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-19T17:34:03.843Z",
      "updatedAt": "2025-10-19T17:34:03.843Z",
      "role": "workflow:owner",
      "workflowId": "hQndSQ3Vqq1b3nNj",
      "projectId": "kTZf8wDfcs9LWznK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-20T20:29:59.491Z",
  "versionId": "07c869ce-4e4a-41ea-9872-d95bd87a5085"
}